[user]
    name  = Adrian Wong
    email = adrianwjw@gmail.com

[color]
    ui = auto

[core]
    # macOS (+ Homebrew Git)
    # pager = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less

    # Arch Linux
    pager = /usr/share/git/diff-highlight/diff-highlight | less

    editor = vim

[alias]
    aa   = add --all
    ap   = add --patch
    au   = add --update
    br   = branch
    cam  = commit --amend
    ci   = commit --verbose
    co   = checkout
    cp   = cherry-pick
    dc   = diff --cached
    dh1  = diff HEAD~1
    di   = diff
    fa   = fetch --all
    iu   = update-index --assume-unchanged
    ixu  = update-index --no-assume-unchanged
    mff  = merge --ff-only
    mxff = merge --no-ff
    pff  = pull --ff-only
    prb  = pull --rebase
    pup  = "!. ~/.githelpers && push_upstream"
    rb   = rebase
    rbc  = rebase --continue
    rbi  = rebase --interactive
    st   = status

    # h  = head
    # hp = head with patch
    # r  = recent commits, only current branch
    # ra = recent commits, all reachable refs
    # l  = all commits, only current branch
    # la = all commits, all reachable refs
    head = !git r -1
    h    = !git head
    hp   = "!. ~/.githelpers && show_git_head"
    r    = !GIT_NO_PAGER=1 git l -30
    ra   = !git r --all
    l    = "!. ~/.githelpers && pretty_git_log"
    la   = !git l --all

[merge]
    tool = vimdiff

[credential]
	helper = cache --timeout=7200
